/* Box Model Fix */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@media (max-width: 1400px) {
    html {
        font-size: 12px;
    }
}

body {
    min-height: 200vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding-inline: 2rem;
}

header {
    height: 7rem;
    position: sticky;
    padding-top: 1rem;
    top: 0;
    background: transparent;
    z-index: 1000;
    color: #484a5d;
    transition: all 400ms ease-out;
}

header.dark {
    color: #fff;
    background: #1f1f1f;
    height: 6rem;
    position: sticky;
    padding-top: 0rem;
}

header.dark .header_logo {
    filter: none;
}

header>.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header>.container>a {
    display: flex;
    align-items: center;
    height: 100%;
}

.header_logo {
    height: 80%;
    display: block;
    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(7460%) hue-rotate(347deg) brightness(89%) contrast(111%);

}

.header_nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    font-size: 1.25rem;
}

.header_nav a {
    text-decoration: none;
    color: inherit;
    border-bottom: transparent 3px solid;
    transition: all 300ms ease-out;
    padding-block: 0.5rem;
}

header.dark .header_nav a:hover {
    border-bottom: #fff 3px solid;
}

.btn_order {
    height: 3rem;
    width: 14rem;
    background-color: #1c1c71;
    border-radius: 1rem;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    box-shadow: 12px 10px 27px 6px rgba(0,0,0,0.1);
}

header .btn_order:hover {
    background-color: #121249;
    transform: scale(1.1);
}

header.dark .btn_order {
    background-color: #ffffff;
    color: #1f1f1f;
}

header.dark .btn_order:hover {

    transform: scale(1.1);
}

@media (max-width: 1400px) {
    .container{
        max-width: 90vw;
    }
    .header_nav,
    .header_btn {
        display: none;
    }
}

.promo {
    height: 100vh;
    width: 100%;
    background-image: url(src/promo/promo_bgi.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-top: -8rem;
    padding-top: 10rem;
}

.promo .container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.promo h1 {
    color: black;
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 500;
}

.promo h1+p {
    margin-top: 2rem;
    font-size: 2rem;
}

.promo_btn {
    margin-top: 2rem;
    transition: all 300ms ease-out;
    box-shadow: 12px 10px 24px 13px rgba(0,0,0,0.2);
}

.promo_btn:hover {
    background-color: #121249;
    transform: scale(1.1);
}

.promo_advantages {
    width: 100%;
    margin-top: auto;
    margin-bottom: 2rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.promo_advantages>li {
    background: #fafafa;
    color: #484a5d;
    border-radius: 1rem;
    height: 8rem;
    min-width: 285px;
    width: 22%;
    display: flex;
    padding: 1rem 3rem 1rem 1rem;
    border: 1px solid #484a5d2a;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 500;
    justify-content: space-around;
}

.promo_advantages>li>p:last-of-type {
    font-size: 1rem;
}

.promo_advantages>li {
    background-image: url(src/promo/icon_1.jpg);
    background-repeat: no-repeat;
    background-position: right -2rem bottom -1.5rem;
    box-shadow: 12px 10px 24px 13px rgba(0,0,0,0.2);
}

@media (max-width: 1400px) {
    .promo_advantages {
        margin-top: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-around;
    }

    .promo,
    .promo .container {
        height: fit-content;
    }

    .promo {
        background: linear-gradient(90deg, rgba(245, 245, 245, 1) 23%, rgba(126, 120, 245, 0) 100%), url(src/promo/promo_bgi.jpg);
        background-repeat: no-repeat;
        background-position: right 20% bottom;
        background-size: cover;
    }
}

h2 {
    max-width: 90vw;
    font-size: 3rem;
    font-weight: 500;
}

h2 span {
    font-weight: 600;
}

.catalogue {
    display: flex;
    gap: 3rem 2rem;
    margin-top: 5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.catalogue.container {
    padding: unset;
}

.catalogue h2 {
    flex: 100%;
}

.catalogue article {
    width: 30%;
    max-width: 500px;
    min-width: 320px;
    border-radius: 1rem;
    border: 1px solid #484a5d2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    transition: all 300ms ease-out;
    background-color: #fff;
}

.catalogue article img {
    height: 25rem;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.catalogue article h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.catalogue article p {
    margin-bottom: 2rem;
}

.catalogue .btn_order {
    overflow: hidden;
    position: relative;
    background-color: transparent;
    border: #484a5d2a 1px solid;
    color: #484a5d;
}

.catalogue .btn_order:hover:after {
    left: 120%;
    transition: all 1550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.catalogue .btn_order:after {
    background: #1c1c71;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .1;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
}

.catalogue article:hover {
    box-shadow: 20px 20px 60px #d5d5d5,
        -20px -20px 60px #ffffff;
}

@media (max-width: 1400px) {
    .catalogue article {
        width: 40%;
    }
}

.gallery {
    margin-top: 5rem;
}

.gallery.container {
    padding-block: 2rem;
    background-color: #fff;
    border-radius: 1rem;
}

.gallery>.swiper {
    height: 500px;
    margin-top: 3rem;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

@media (max-width: 1400px) {
    .gallery>.swiper {
        height: 400px;
    }
}

.quiz_section.container {
    padding-inline: 0;
    margin-top: 5rem;
    border-radius: 1rem;
    overflow: hidden;
}

.marquiz__container_inline {
    max-width: unset !important;
}

footer.container {
    margin-top: 5rem;
    margin-bottom: 3rem;
    background-color: #fff;
    height: 40rem;
    border-radius: 1rem;
}